.text-footer {
    font-family: 'SF Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 175%;
    text-align: center;
    
}
    
.content-footer{
    margin-top: 15px;
    margin-bottom: 30px;
}

@media (min-width : 830px ) {
    .content-footer{
        margin-top: 75px;
        
    }
}


    
    
