@media (max-width: 2000px) {
    
    .SocialMedia-right{
        position: fixed;
        right: 4%;
        bottom: 0;

        display: flex;
        flex-direction: column;
        row-gap: 30px;

        height: 40%;
        width: auto;
              
    }
  
    .vertical-line{
        background-color: #8990a5;
        border-radius: 50px;
        width: 2px;
        height: 80%;
        margin: auto;
    }
    
    p.right{
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }

}

@media (max-width: 830px) {
    
    .SocialMedia-right{
        display: none;
    }
   
    
}


.SocialMedia-link:hover{
    
    position: relative;
    top: -3px;
    transition: 0.4s;
}


.gambar-kiri-1 {
    content: url(../img/Linkedin-18.png);
}

.gambar-kiri-1:hover {
    content: url(../img/Linkedin-18-hover.png);
}

.gambar-kiri-2 {
    content: url(../img/Github18.png);
}

.gambar-kiri-2:hover {
    content: url(../img/Github-18-hover.png);
}


.gambar-kiri-3 {
    content: url(../img/Email-18.png);
}

.gambar-kiri-3:hover {
    content: url(../img/Email-18-hover.png);
}

.gambar-kiri-4 {
    content: url(../img/Whatsapp-18.png);
}

.gambar-kiri-4:hover {
    content: url(../img/Whatsapp-18-hover.png);
}