@media (max-width: 2000px) {
    
    
    .SocialMedia-content {
        display: none;
              
    }
    
}


@media (max-width: 830px) {
    
    .SocialMedia-link {
        height: auto;
        transition: 0.4s;
    }
    
    .SocialMedia-section {
        margin: auto;
        margin-top: 125px;
        margin-bottom: 25px;
        max-width: 400px;
        position: relative;
        
    }
    
    .SocialMedia-content {
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        
    }
    
}



a .gambar-tengah-1:hover{
    content: url(../img/svg/linkedinhover.svg);
}

a .gambar-tengah-2:hover{
    content: url(../img/svg/githubhover.svg);
}

a .gambar-tengah-3:hover{
    content: url(../img/svg/emailhover.svg);
}

a .gambar-tengah-4:hover{
    content: url(../img/svg/whatsapphover.svg);
}

