/* CARD MAKING */

/* BIG SCREEN */
@media (max-width: 2000px ){
    
    .flexbox-container {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
    }
        
    .flexbox-item {
        width: 320px;
        min-height: 300px;
        padding: 30px 30px;
        transition: 0.4s;
        border-radius: 5px;
        background-color: #112240;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        cursor: pointer;
        
    }

    .flexbox-item-data{
        /* width: 250px; */
        min-height: 160px;

    }

    .flexbox-item-data h4{
            margin-top: 0px;
    }

    .flexbox-atasbawah{
        
        width: 100%;
        height: fit-content;
        
    }
}
        

/* MEDIUM SCREEN */
@media (max-width: 1240px){

    .flexbox-item{
        width: 49%;
        min-width: 320px;
    }

    .flexbox-item-data{
        width: 250px;
        min-height: 160px;

    }

    .flexbox-item-data h4{
            margin-top: 0px;
    }
}


/* SMALL SCREEN */
@media (max-width: 829px ){
    
    .flexbox-item {
        width: 100%;
        min-width: auto;

    }

    .flexbox-item-data{
        width: 350px;
        min-height: 160px;

    }

    .flexbox-item-data h4{
            margin-top: 0px;
    }

}

/* FOLDER AND LINK IMAGE */
.gambar-inline{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: auto;
    
}
    
.flexbox-header {
    font-family: 'Calibre';
    font-style: normal;
    font-weight: 600;
    font-size: 3ex;
    line-height: 115%;
    margin-top: 30px;
    transition: 0.2s;
}

.flexbox-text {
    margin-top: 10px;
}

div.project-tag {
    font-family: 'SF Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 175%;

    width: 100%;
    
    
}

div.project-tag ul{
    
    display: flex;
    direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}


div.project-tag ul li{
    list-style-type: none;
    list-style-image: none;
}


.flexbox-item:hover{
    transform: translateY(-7px);
    z-index: 10;
    transition: 0.4s;
    
}

.outside-link {
    content: url(../img/svg/link.svg);
    
    align-self: center;
    transition: 0.4s;

}

.outside-link:hover {
    content: url(../img/svg/linkhover.svg);
    
    align-self: center;
    transition: 0.4s;

}

.flexbox-header:hover {
    color:aquamarine;
    transition: 0.4s;
}


    


        


    
        




