.text-pendek1 {
    font-family: 'SF Mono';
    font-style: light;
    font-weight: 300;
    font-size: 15px;
    line-height: 154%;
    color: #62F9D5;
}

.text-panjang {
    font-weight: 350;
    font-size: 20px;
    line-height: 125%;
    margin-top: 40px;
    color: #8892B0;
}

h1{
    font-weight: 600;
    font-size: clamp(40px,8vw,60px);
    line-height: 127%;
    /* or 76px */
    font-feature-settings: 'liga' off;
    color: #CCD6F6;
    margin-top: 15px ;
}

h2{
    color: #8892B0;
    font-weight: 600;
    font-size: clamp(40px,8vw,60px);
    line-height: 127%;
    /* or 76px */
    font-feature-settings: 'liga' off;
    line-height: 1;
    margin-top: 0;
}

h3{
    font-family: 'SF Mono';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 127%;
    /* or 30px */
    font-feature-settings: 'liga' off;
    color: #CCD6F6;
}

h4 {
    margin-top: 20px;
    font-family: 'Calibre';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 115%;
    font-feature-settings: 'liga' off;
    color: #CCD6F6;
}





span.green {
    color: #62F9D5;
}

span.yellow {
    color: #B79855;
}



/* EXPERIENCE SECTION */
p.time {
    font-family: 'SF Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 175%;
    color: #8892B0;
}

ul.jobdesk {
    font-family: 'Calibre';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

a, a:visited, a:link{
    text-decoration: none;
    color: inherit;
    font-weight: 300;
    font-family: 'SF Mono';
    font-style: normal;
    
    
}


a.link-right{
    font-size: 15px;
    transition: 0.4s;
    
}

a.link-right:hover{
    position: relative;
    top: -3px;
    color: #62F9D5;
    transition: 0.4s;
    
}


div.project-tag ul li{
    font-family: 'SF Mono';
    font-weight: 300;
    font-size: 11px;
    
}

@media (max-width : 560px ){
    .text-panjang{
        font-size: 16px;
        letter-spacing: 0.8px;
    }
}

.tablinks {
    letter-spacing: 0.2px;
    line-height: 140.5%;
    font-weight: 300;
    
}







@font-face {
    font-family: 'SF Mono';
    src: url('../Font/SFMono/SFMono-Medium.ttf') format('ttf'),
         url('../Font/SFMono/SFMono-Medium.woff') format('woff'),
         url('../Font/SFMono/SFMono-Medium.woff2') format('woff2'),

         url('../Font/SFMono/SFMono-MediumItalic.ttf') format('ttf'),
         url('../Font/SFMono/SFMono-MediumItalic.woff') format('woff'),
         url('../Font/SFMono/SFMono-MediumItalic.woff2') format('woff2'),

         url('../Font/SFMono/SFMono-Regular.ttf') format('ttf'),
         url('../Font/SFMono/SFMono-Regular.woff') format('woff'),
         url('../Font/SFMono/SFMono-Regular.woff2') format('woff2'),

         url('../Font/SFMono/SFMono-RegularItalic.ttf') format('ttf'),
         url('../Font/SFMono/SFMono-RegularItalic.woff') format('woff'),
         url('../Font/SFMono/SFMono-RegularItalic.woff2') format('woff2'),

         url('../Font/SFMono/SFMono-Semibold.ttf') format('ttf'),
         url('../Font/SFMono/SFMono-Semibold.woff') format('woff'),
         url('../Font/SFMono/SFMono-Semibold.woff2') format('woff2'),

         url('../Font/SFMono/SFMono-SemiboldItalic.ttf') format('ttf'),
         url('../Font/SFMono/SFMono-SemiboldItalic.woff') format('woff'),
         url('../Font/SFMono/SFMono-SemiboldItalic.woff2') format('woff2'),
    
}


@font-face {
    font-family: 'Calibre';
    src: url('../Font/Calibre/Calibre-Light.ttf') format('ttf'),
         url('../Font/Calibre/Calibre-Light.woff') format('woff'),
         url('../Font/Calibre/Calibre-Light.woff2') format('woff2'),

         url('../Font/Calibre/Calibre-LightItalic.ttf') format('ttf'),
         url('../Font/Calibre/Calibre-LightItalic.woff') format('woff'),
         url('../Font/Calibre/Calibre-LightItalic.woff2') format('woff2'),

         url('../Font/Calibre/Calibre-Medium.ttf') format('ttf'),
         url('../Font/Calibre/Calibre-Medium.woff') format('woff'),
         url('../Font/Calibre/Calibre-Medium.woff2') format('woff2'),

         url('../Font/Calibre/Calibre-MediumItalic.ttf') format('ttf'),
         url('../Font/Calibre/Calibre-MediumItalic.woff') format('woff'),
         url('../Font/Calibre/Calibre-MediumItalic.woff2') format('woff2'),

         url('../Font/Calibre/Calibre-Regular.ttf') format('ttf'),
         url('../Font/Calibre/Calibre-Regular.woff') format('woff'),
         url('../Font/Calibre/Calibre-Regular.woff2') format('woff2'),

         url('../Font/Calibre/Calibre-RegularItalic.ttf') format('ttf'),
         url('../Font/Calibre/Calibre-RegularItalic.woff') format('woff'),
         url('../Font/Calibre/Calibre-RegularItalic.woff2') format('woff2'),

         url('../Font/Calibre/Calibre-Semibold.ttf') format('ttf'),
         url('../Font/Calibre/Calibre-Semibold.woff') format('woff'),
         url('../Font/Calibre/Calibre-Semibold.woff2') format('woff2'),

         url('../Font/Calibre/Calibre-SemiboldItalic.ttf') format('ttf'),
         url('../Font/Calibre/Calibre-SemiboldItalic.woff') format('woff'),
         url('../Font/Calibre/Calibre-SemiboldItalic.woff2') format('woff2'),
    
}
