
    


.header {
    background-color: var(--primary-dark);
    width: 100%;
    height: auto;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 40px var(--padding-left-right) ;

}

nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    align-items: center;
   
    width: 100%;
    max-width: 1100px;
    margin: auto;
    
}

nav ul {
    display: flex;
    justify-content: center;
    column-gap: 15px;
    flex-direction: row;
    width: 100%;
    max-width: 300px;
    flex-wrap: wrap;
    
}

nav ul li {
    list-style: none;
    transition: 0.4s;

}

nav ul li a:hover {
    color: var(--secondary-lightBlue);
    position: relative;
    top: -2px;
    transition: 0.4s;
}


.heading-list {
    text-decoration: none;
    color: var(--primary-white);


}

div.social-media img {
    cursor: pointer;
}

.header-text {
    margin: auto;
    width: fit-content;
    color: var(--primary-white);
}

.header01 {
    margin-top: 30px;
}

.social-media-header{
    display: flex;
    flex-wrap: nowrap;
}


