div.inner-core-latest-blog {
    
    background-size:cover;
    background-repeat: no-repeat;
    height: 300px;
    margin: auto;
    margin-top: 20px;
    padding: 30px 30px 50px 30px;
    background-position: center;

}


div.core-latest-blog {
    padding-left: 100px;
    padding-right: 50px;
}


.inner-link-latest-blog{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-top: 25px;
}

.social-media-inner-link{
    display: flex;
    align-items: center;
    align-content: center;
    
}

.social-media-image-link {
    padding: 0% 5px;
}


@media (max-width:650px) {
    div.core-latest-blog{
       padding-top: 30px;
       padding-left: 50px;
       padding-right: 25px;
       padding-bottom: 70px; 
       
    }
    
}


.inner-core-01 {
    background-image: url(../img/latest-blog/01.png);
}

.inner-core-02 {
    background-image: url(../img/latest-blog/02.png);
}

.inner-core-03 {
    background-image: url(../img/latest-blog/03.png);
}