div.inner-core-latest-blog {
    background-image: url(../img/latest-blog/01.png);
    background-size:cover;
    background-repeat: no-repeat;
    height: 300px;
    margin: auto;
    margin-top: 20px;
    padding: 30px 30px 50px 30px;
    background-position: center;

}


div.core-latest-blog {
    padding-left: 100px;
    padding-right: 50px;
}


.inner-link-latest-blog{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-top: 25px;
}

.social-media-inner-link{
    display: flex;
    align-items: center;
    align-content: center;
    
}

.social-media-image-link {
    padding: 0% 5px;
}
