div.inner-core-latest-blog {
    background-image: url(../img/latest-blog/01.png);
    background-size:cover;
    background-repeat: no-repeat;
    height: 300px;
    margin: auto;
    margin-top: 20px;
    padding: 30px 30px 50px 30px;
    background-position: center;

}


div.core-latest-blog {
    padding-left: 100px;
    padding-right: 50px;
}

