:root{
    --primary-white : #FAFBFC;
    --primary-dark : #0C2542;
    --primary-light : #E9F4FE;
    --secondary-regularblue : #38618C;
    --secondary-lightBlue : #2E9DD1;
    --secondary-dark : #373B4A;
    --accent : #40F591;
    --accent-hover : #83f7b7;
    --figure-capt : #848181;



    --padding-left-right : 7% ;


    --small-reguler : 18px;
    --medium-regular : 20px;


}



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: var(--primary-dark);
}

body{
    background-color:  var(--primary-white);
}



.content {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    padding: 100px 10%;
}


.date {
    background-color: var(--accent);
    width: fit-content;
    padding: 8px;
    text-align: center;
}

div.author {
    display: flex;

}

h2.article-title {
    margin-top: 15px;
}

p.article-resume {
    margin-top: 15px;
}

button.read-more {
    
    padding: 10px 40px;
    border-radius: 20px;
    background-color: var(--accent);
    border-width: 0;
}


hr {
    margin-top: -10px;
    width: 150px;
    border-radius: 7px;
    border-top: 2px solid var(--primary-dark)
}

.core {
    margin: auto;
    margin-top: 20px;
    padding: 30px 30px 50px 30px;
}

button.read-more, div.date {
    color: var(--primary-dark);
}

span.blue  {
    color: var(--secondary-lightBlue);
}

a.heading-list, p.author, .header03, .read-more, .footer-text {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
}

p.day, h3 {
    font-family: 'Jost', sans-serif;
    font-weight: 700; 
}

p.month {
    font-family: 'Jost', sans-serif;
    font-weight: 200; 
}

h1,h2 {
    font-family: 'Karma', serif;
}

h2 {
    line-height: 25px;
}

.article-resume {
    font-family: 'Lora', serif;
}

.header01{
    font-family: 'Prata', serif;
    font-size: 40px;
    letter-spacing: 3px;
    margin-bottom: -15px;
}

.header02 {
    font-family: 'Alex Brush', cursive;
    font-size: 54px;
    
}


div.author {
    display: flex ;
    column-gap: 8px;

}
@media (max-width:650px) {
    .header01{
       
        font-size: 25px;
        margin-bottom: -5px;
       
      
    }
    
    .header02 {
       
        font-size: 30px;
        
    }
    

    .article-resume {
        font-size: small;
    }

    p.author {
        font-size: smaller;
    }
}

a {
    text-decoration: none;
}


.read-more-featured-blog, .read-more-latest-blog {
    transition: 0.4s;
    }

.read-more-featured-blog:hover, .read-more-latest-blog:hover {
    background-color: var(--accent-hover);
    cursor: pointer;
    transition: 0.4s;
    
}